<h3>Employee Dashbored</h3>
<div *ngIf="n2">
	<button (click)="open()"> AddEmployee </button>
</div>
<div *ngIf="n1">
	<div>
		<label for="fname">Name</label>
		<input type="text" name="Fname" [(ngModel)]="names">
</div>

		<div>
			<label for="fname">Surname</label>
			<input type="text" name="Surname" [(ngModel)]="surnames">
</div>



			<div>
				<label for="age">Age</label>
				<input type="number" name="age" [(ngModel)]="ages">
</div>

				<div>
					<label for="postion">Position</label>
					<input type="text" name="postion" [(ngModel)]="positions">
          	<button (click)="addToLists()"> AddEmployee </button>
</div>


				</div>

<mat-grid-list cols="4" rowHeight="15cm">
	<mat-grid-tile *ngFor="let item of employees">
		<div class="all">
			<img class="photo" src="{{item.myimage}}">
			<div class="name">
				{{item.name}}
				{{item.surname}}
			</div>

			<div class="age">
				{{item.age}}
			</div>

			<div class="position">
				{{item.position}}
			</div>

			<div class="btn">
				<button mat-raised-button (click)="openDialog(item)" color="accent">Delete</button>
				<button mat-raised-button (click)="update()"  color="primary">Update</button>
			</div>
		</div>
	</mat-grid-tile>
</mat-grid-list>